<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaterAI</title>
    {%load static%}
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="{% static 'chat/styles.css' %}">

</head>
<body>
    <div class="titleContainer">
			<h1>Welcome to TaterAI 🍠</h1>	
			<h3 id="desktopSubheading">The Potatoe Prompt Machine, Meant To Be Light Weight And Functional </h3>
			<h3 id="mobileSubheading">Designed To Run On Even The Slowest Potatoes</h3>
	</div>
	<div class="wrapper">
		
		<main>
			<section class="OutputSection">
               
                    <div class="OutputContainer">
                        {% for message in chat_history reversed %}
                        <div style="border-bottom: 2px solid black;">
                            <div class="MockPrompt">
                                <p><strong>User:</strong> {{ message.user_input }}</p>
                            </div>
                            <div class="MockResponse">
                                <p><strong>TaterAI:</strong> {{ message.ai_response }}</p>
                                <p><small>{{ message.timestamp }}</small></p>
                            </div>
                        </div>
                        {% endfor %}
                        {% if ai_response %}
                        <div class="ai-response">
                            <p><strong>Potato AI:</strong> {{ ai_response }}</p>
                        </div>
                        {% endif %}
                        <div id="bottom-anchor"></div>

                        <div style="height: 100px;"></div>

                    </div>
                
            </section>
            
			<br><br>
			<section class="container" >
				<div class="FormContainer">
					<form method="post">
                        {% csrf_token %}
						<div class="PromptContainer">
							<label for="promptInput" class="visuallyHidden">Your prompt</label>
							<span class="emojiPrefix" >🍠</span>
							<input type="text" id="promptInput" name="prompt" class="PromptInput" value="{{ user_input }}" placeholder="Ask Me Anything!">
						</div>
						<div class="submitSection">
							<button type="submit">Send</button>
							<p class="potatoText">Look At The Potato Go</p>
						</div>
						
						 
					</form>
				</div>
			</section>
		</main>
		<br>
		
		
	</div>
	<footer>
		<div class="footer-content">
			<div class="footer-text">
				<p>Built by | <a href="#">MoeOverload</a></p>
			</div>
			<div class="footer-icon">
				<a href="https://ko-fi.com/yourlink" target="_blank">
					<img alt="Support me on Ko-fi">
				</a>
			</div>
		</div>
	</footer>
    <!--TODO PUT THIS IN ITS OWN FILE LATER-->
    <script>
        window.onload = () => {
            const anchor = document.getElementById("bottom-anchor");
            anchor?.scrollIntoView({ behavior: "smooth" });
        };
    </script>
    
</body>
</html>